<p class="lead">Shop Name</p>
<div class="list-group">
    <a href="{{ url('add_new_category') }}" class="list-group-item">Add Category</a>
    <a href="#" class="list-group-item">Add Product</a>
    <a href="#" class="list-group-item">Category 3</a>
</div>