{% extends 'base.html.twig' %}

{% block body %}


    {% set route = app.request.attributes.get("_route") %}
    {% set page = '' %}
    {% if route == 'add_new_category' %}
        {% set page = 'Add New' %}
    {% else %}
        {% set page = 'Edit' %}
    {% endif %}

    <h1>{{ page }} Product Category</h1>

    {{ include ('product-category/form.html.twig' , { 'form': form }) }}


{% endblock %}